absl-py==1.0.0
angles==2.0
numpy==1.19.4
pandas==1.4.0
scikit-image==0.19.1
scikit-learn==1.0.2
scipy==1.7.3
tensorboard==2.8.0
tensorboardX==2.4.1
record-keeper==0.9.30
pytorch-metric-learning==0.9.99
torch==1.10.1
pytorch3d==0.6.1
torch-tb-profiler==0.2.1
torchvision==0.11.2
tqdm==4.61.2
umap-learn==0.5.1
opencv-python==4.5.5.62
faiss-gpu==1.7.2
seaborn=0.11.2
h5py==3.6.0
BboxTools==1.0.2